<div class="container">
  <%= form_for contact, html: { class: "form-horizontal contact-form" } do |f| %>
      <%= error_messages_for(f.object) %>
      <div class="form-group <%= form_class(f.object, 'first_name') %>">
        <label class="col-sm-2 control-label">FirstName</label>
        <div class="col-sm-10">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group <%= form_class(f.object, 'last_name') %>">
        <label class="col-sm-2 control-label">LastName</label>
        <div class="col-sm-10">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group <%= form_class(f.object, 'email') %>">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group <%= form_class(f.object, 'type') %>">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <%= f.select :type, options_for_select(Contact::TYPE,f.object.type), {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <% addr = contact.addresses.empty? ? contact.addresses.build : contact.addresses %>
          <% addr_count = 0 %>
          <div class="address-input">
            <%= f.fields_for :addresses, addr do |address_form| %>
                  <% addr_count = addr_count + 1 %>
                  <div class="address-lists">
                    <div class="input-group addr-input <%= form_class(address_form.object, 'door_no') %>">
                      <%= address_form.text_field :door_no, class:"form-control", placeholder: 'Flat No, Building Name' %>
                    </div>

                    <div class="input-group addr-input <%= form_class(address_form.object, 'street') %>">
                      <%= address_form.text_field :street, class:"form-control", placeholder: 'Street' %>
                    </div>

                    <div class="input-group addr-input <%= form_class(address_form.object, 'city') %>">
                      <%= address_form.text_field :city, class:"form-control", placeholder: 'City' %>
                    </div>

                    <div class="input-group addr-input <%= form_class(address_form.object, 'state') %>">
                      <%= address_form.text_field :state, class:"form-control", placeholder: 'State' %>
                    </div>

                    <div class="input-group addr-input <%= form_class(address_form.object, 'pincode') %>">
                      <%= address_form.text_field :pincode, class:"form-control", placeholder: 'Pincode' %>
                    </div>

                    <% if action_name == 'edit' || action_name == 'update' %>
                        <button type="button" class="btn btn-success btn-sm btn-add-address" disabled>
                          <span class="glyphicon glyphicon-plus"></span> Add Address
                        </button>
                    <% else %>
                        <% if address_form.object.errors.any? && addr_count == 1 %>
                          <button type="button" class="btn btn-success btn-sm btn-add-address">
                            <span class="glyphicon glyphicon-plus"></span> Add Address
                          </button>
                        <% elsif address_form.object.errors.any? %>
                          <button type="button" class="btn btn-danger btn-sm btn-remove-address">
                            <span class="glyphicon glyphicon-minus"></span> Remove Address
                          </button>
                        <% else %>
                          <button type="button" class="btn btn-success btn-sm btn-add-address">
                            <span class="glyphicon glyphicon-plus"></span> Add Address
                          </button>
                        <% end %>
                    <% end %>
                  </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <% phs = contact.phones.empty? ? contact.phones.build : contact.phones %>
          <div class="phone-list">
            <%= f.fields_for :phones, phs do |phone_number_form| %>
                <div class="input-group phone-input">
                  <%= phone_number_form.select :type_of, options_for_select(Phone::TYPE,phone_number_form.object.type_of), {}, class: "phone-type" %>
                  <div class="phone-number <%= form_class(phone_number_form.object, 'number') %>">
                    <%= phone_number_form.text_field :number, class: "form-control", placeholder: "+1 (999) 999 9999" %>
                  </div>
                </div>
            <% end %>
          </div>
          <% if action_name == 'edit' || action_name == 'update' %>
              <button type="button" class="btn btn-success btn-sm btn-add-phone" disabled>
                <span class="glyphicon glyphicon-plus"></span> Add Phone
              </button>
          <% else %>
              <button type="button" class="btn btn-success btn-sm btn-add-phone">
                <span class="glyphicon glyphicon-plus"></span> Add Phone
              </button>
          <% end %>
        </div>
      </div>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
  <hr>
</div>