<% content_for(:page_header) do %>
Contact Management
    <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary" %>
<% end %>

  <table id="contacts" class="display table table-striped table-sm table-hover" cellspacing="0" width="100%" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Type</th>
        <th>Address</th>
        <th>PhoneNumber</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
      <tr class='clickable' data-location='<%= edit_contact_path(contact) %>'>
        <td><%= contact.name %></td>
        <td><%= contact.age %></td>
        <td><%= contact.email %></td>
        <td><%= contact.type %></td>
        <td><%= (contact.all_addresses.gsub('\n', '<br/>')).html_safe %></td>
        <td><%= (contact.all_phones.gsub(',', '<br/>')).html_safe %></td>
        <td><%= link_to 'Delete', contact, method: :delete,class: "btn btn-danger delete-contact" %> | <%= link_to 'View', contact, class: "btn btn-info" %></td>
       </tr>
       <% end %>
     </tbody>
   </table>

  <% content_for(:extra_scripts) do %>

      $(document).ready(function() {
        $('#contacts').DataTable({ responsive:
          true<%= ', searching: false, paging: false, info: false' if @contacts.count <= 10 %>  });
      });

  <% end %>
